<%
# Demonstrating mixed Haml and Erb
# This script uses the erb layout
%>

<h1>About this site</h1>

<p>
This is a practice site to test out features of the Ruby on Rails ecosystem.
This page in particular is rendered using Erb, while other content is rendered with Haml.
</p>

<h1>Selected sources</h1>
<em>The following links are an incomplete list of sources I found code to incorporate into the site</em>
<ul>
  <li><a href="http://getbootstrap.com/components/#navbar">Initial Navbar implementation</a> </li>
  <li><a href="http://code.tutsplus.com/tutorials/using-unobtrusive-javascript-and-ajax-with-rails-3--net-15243">
    Using Unobtrusive JavaScript and AJAX with Rails 3</a></li>

    <li><a hrref="http://getbootstrap.com/css/">Twitter Bootstrap CSS</a></li>
    <li><a href="https://github.com/5minpause/multiple-file-upload">(5minpause) multiple-file-upload</a></li>
</ul>

To see the source code for this site, go here: <a href="https://github.com/johnbaldwin/rails_sandbox">rails_sandbox</a>
<br>