<%
# Demonstrating mixed Haml and Erb
# This script uses the erb layout
%>

<h1>About this site</h1>

<p>
This is a practice site to test out features of the Ruby on Rails ecosystem.
This page in particular is rendered using Erb, while other content is rendered with Haml.

</p>

To see the source code, go here: <a href="https://github.com/johnbaldwin/rails_sandbox">rails_sandbox</a>
<br>